/* DARKLY CSS */

:root {

/*  --sidebar-pop: #04222e; /*was 8f9fdb*/*/
  --dark-green: #021f07;
  --fun-green: #79ff46; /*was #90ff65*/ /*was var(--new-dolphin)*/




  --electric-blue: #6288db;
  --translucent-navy:  rgba(2,6,8,.81);/*LEFT BAR AND RIGHT BAR BG was 2,6,8,.81*/
  --seminole: #100200;  /* the WAY background was midnightblue*/
  --new-dolphin: #8fc79e; /* all links */
  --hot-orange: #e1a49b; /*was #ffbcbc;*/ 
  --light-gold: #ede8ce; /*nav top gradient*/
  --mariner-dark: #04222e; /*was 444*/



  --mariner-light: #00c5db; /*was 888*/
  --mariner-med: #007885; 
  --mariner-teal: #1a8f9d; /*new*/
  --seafoam: #bbf2d2;
  --title-teal: #6ae4c8; /*all titles*/
 
 

  --blue: #375a7f;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74c3c;
  --orange: #fd7e14;
  --yellow: #f39c12;
  --green: #00bc8c;
  --teal: #20c997;
  --cyan: #3498db;
  --white: #fff;
  --gray: #888;
  --gray-dark: #303030;
  --primary: #375a7f;
  --secondary: var(--mariner-dark);
  --success: #00bc8c;
  --info: #3498db;
  --warning: #f39c12;
  --danger: #e74c3c;
  --light: #303030;
  --dark: var(--mariner-light);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}



*,
::after,
::before {
  box-sizing: border-box
}

/*CUTS  qz3 ========================================================= dont delete yet */

/*
post-listing EXPANDO positioning
.pr-0,
.px-0 {
  padding-right: 0!important
}*/

        /*  ============ */

/*PULLS FROM ABOVE  qz3 ========================================================= dont delete */


/*SEARCH FORM NAV DESKTOP*/
.form-inline {
  display: inline-block;
  flex-flow: row wrap;
  align-items: center
}

.rounded-circle {
  border-radius: 25% !important;
}

/*replaced #444 med-gray with var(--mariner-dark) */
/*replace #dee2e6 light white with var(--mariner-light) */

